# Gradle
.gradle/
build/

# Local configuration
local.properties

# Logs
*.log

# Android Studio
.idea/
*.iml

# Build outputs
*.apk
*.aab
output-metadata.json

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# Keystore
*.jks
*.keystore

# Profiling
*.hprof